    * {
        margin: 0;
        margin-top: 20px;
        padding: 0;
        box-sizing: border-box;
    }


    body {
        background-color: rgb(255, 255, 255);
        text-align: center;
        width: 800px;
        margin: 0 auto;
    }

    .form {
        background-color: rgb(200, 200, 200);
        border-radius: 30px;

    }


    .live {
        margin-top: 50px;
        margin-bottom: 20px;

    }

    .reg-form {
        height: 430px;
    }

    .btn-reg {
        width: 100px;
        height: 30px;
        border-radius: 30px;
        background-color: gray;
        color: whitesmoke;

    }

    .error-message {
        color: red;
        font-size: small;
    }

    .form-data {
        font-size: small;
        word-spacing: 1px;
    }

    .check {
        margin-right: 20px;
        font-size: small;
        text-decoration: underline;
        color: blue;
    }