* {
    padding: 0px;
    margin: 0px;
}


.main-header {
    width: 970px;
    height: 100px;
    background-color: rgb(100, 100, 164);
    margin: 0 auto;

}

#title {
    width:  970px;
    height: 50px;
    background-color: white;
    color: rgb(63, 63, 63);
    align-content:end;
    padding-left: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

#title span {
    color: rgb(106, 106, 232);
}

.main-header img{
    margin-top: 0px;
    width: 65px;
    position: absolute;

}


#header-2 {
    color: white;
    font-size: x-large;
    margin-left: 12px;
    margin-top: 12px;
}

.section-main {
    width: 970px;
    margin: 0 auto;
    height: 570px;
    background-color: hsl(0, 0%, 97%);
}

#left-side {

    width: 220px;
    height: 270px;
    margin-top: 10px;
    margin: 0 auto;
    background-color: black;

}

#ad {
    width: 220px;
    height: 270px;
    background-color: blue;
}